<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative">
  <div class="swiper-wrapper">
    <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(https://static.vecteezy.com/system/resources/previews/041/862/400/non_2x/ai-generated-aerial-view-of-airplane-flying-over-the-tropical-forest-photo.jpeg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">FlyWith</span>us.com
                    <br> Book Flights Seemlessly
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">Get Flights</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div><!-- End Intro Section -->


<br> <br> <br>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
<section id="services" class="current">
    <div class="services-top">
        <div class="container bootstrap snippets bootdey">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
                    <p>Book <span class="highlight">Flight Tickets</span> Seemlessly with Eon Airlines.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                    <div class="services-list">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-md-4" routerLink="/flights">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-plane highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Browse Flights</div>
                                        <div class="info">Filter and Browse Flights Easly</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4" routerLink="/airlines">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-book highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Airlines Colab</div>
                                        <div class="info">Add and Manage Your Airlines</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4" routerLink="/flights">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-check-square-o highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Book Flight</div>
                                        <div class="info">Book Flight Tickets Seemlessly</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4" routerLink="/map">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-map-marker highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Look Around</div>
                                        <div class="info">Plan Your Routes with Maps</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4" routerLink="/booking/View">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-list-ul highlight"></div>
                                    <div class="text-block">
                                        <div class="name">My Bookings</div>
                                        <div class="info">Browse All Your Booking History Easly</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4" routerLink="/update-user">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-user highlight"></div>
                                    <div class="text-block">
                                        <div class="name">My Account</div>
                                        <div class="info">Manage User Details Easly</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>     