<br> <br> <br> <br> <br> <br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div id="invoice">
                
                <div class="invoice overflow-auto">
                    <div style="min-width: 600px">
                        <main>
                            <div class="row contacts">
                                <div class="col invoice-to">
                                    <div class="text-gray-light">INVOICE TO:</div>
                                    <h2 class="to">{{user.userName}}</h2>
                                    <div class="address">{{user.email}}</div>
                                </div>
                                <div class="col invoice-details">
                                    <h1 class="invoice-id">#{{booking.bookingId}}</h1>
                                    <div class="date">Date of Booking: {{booking.bookingDate}}</div>
                                </div>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>SEAT NO</th>
                                        <th class="text-left">Flight NAME</th>
                                        <th class="text-right">GST</th>
                                        <th class="text-right">SEAT Cost</th>
                                        <th class="text-right">TOTAL PAID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="no">{{booking.seatNo}}</td>
                                        <td class="text-left">
                                            <h3>
                                                <a target="_blank" href="javascript:;">
										{{booking.flightName}}
										</a>
                                            </h3>
                                            
										   Useful videos
									   <br>{{booking.airlines}}</td>
                                        <td class="unit">${{booking.gst}}</td>
                                        <td class="qty">${{booking.seatCost}}</td>
                                        <td class="total">${{booking.total}}</td>
                                    </tr>
                                </tbody>
                                <br><br><br>
                                <tr>
                                    <td class="no">Paid Via</td>
                                    <td class="text-left">{{booking.paymentType}} : {{booking.paymentFrom}}</td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">SUBTOTAL</td>
                                        <td>${{booking.total}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">TAX 0%</td>
                                        <td>$0.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">GRAND TOTAL</td>
                                        <td>${{booking.total}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="thanks">Thank you!</div>
                        </main>
                        <footer>Invoice was created on a computer and is valid without the signature and seal.</footer>
                    </div>
                    <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                    <div></div>
                </div>

                <div class="toolbar hidden-print">
                    <div class="text-end">
                        <a type="button" class="btn btn-dark" href="javascript:window.print()"><i class="fa fa-print"></i> Print</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
